<nb-layout>
  <nb-layout-header fixed><h4 id="title-app">Travel Order Resolver</h4></nb-layout-header>
  
  <nb-layout-column>
    <nb-chat title="Conversational Travel Order" size="large" status="info">
      
      <nb-chat-message *ngFor="let msg of messages"
                        [type]="msg.type"
                        [message]="msg.text"
                        [reply]="msg.reply"
                        [sender]="msg.user.name"
                        [files]="msg.file"
                        [date]="msg.date"
                        [avatar]="msg.user.avatar">
      </nb-chat-message>
      <nb-chat-form (send)="sendMessage($event)" [dropFiles]="true" messagePlaceholder="Que souhaitez-vous aujourd'hui ?" [message]="recognizedText">
      </nb-chat-form>
      
    </nb-chat>
    
   
  </nb-layout-column>
  <nb-layout-column>
    <button nbButton (click)="StartRecognition()" [disabled]="SpeakButtonIsDisable" shape="round" hero="true" status="info"><nb-icon icon="mic-outline"></nb-icon>Ecrire avec ma voix</button>
  </nb-layout-column>
</nb-layout>